.app-container {
  height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
.registration-heading {
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
  color: #ea580c;
}
.form-container,
.response-container {
  height: 35vh;
  width: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgb(146, 144, 144);
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
}
.input-container {
  display: flex;
  flex-direction: column;
}
.label-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #595b5e;
  margin-bottom: 5px;
  margin-top: 10px;
}
.input-text {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #3c3d3f;
  height: 37px;
  width: 230px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding-left: 10px;
  background-color: #ffffff;
  outline: none;
}

.submit-button {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 20px;
  height: 38px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  background-color: #ea580c;
  flex-shrink: 1;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.error-message {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #ff0b37;
  margin-top: 0;
  text-align: start;
}
.error-input-container {
  background-color: #fddae1;
  border: 2px solid #ff0b37;
}
.success-icon {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.success-response-text {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #595b5e;
}
